<!doctype html>
<html>
<head>
  <title>Meadowlark Travel</title>
</head>
<body>
  <header><img src="/img/cargill.jpg" alt="Логотип Meadowlark Travel"
               width="300" height="200"></header>
  {{{body}}}
</body>
</html>